@model KidKarpool.Models.Request

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RequestID" />
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentClass" class="control-label"></label>
                <input asp-for="StudentClass" class="form-control" />
                <span asp-validation-for="StudentClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfPickUp" class="control-label"></label>
                <input asp-for="TimeOfPickUp" class="form-control" />
                <span asp-validation-for="TimeOfPickUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentifyLot" class="control-label"></label>
                <input asp-for="IdentifyLot" class="form-control" />
                <span asp-validation-for="IdentifyLot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentName" class="control-label"></label>
                <input asp-for="ParentName" class="form-control" />
                <span asp-validation-for="ParentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

